/* Change the background of the entire visible page */
body {
    background-color: #9fc5e8; /* light blue */
}

/* Style for all paragraphs */
p {
    color: black;
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 4px solid black; /* Adds an black border around the heading */
    padding: 4px; /* Adds space inside the border */
}
h2 {
    color: rgb(0, 0, 80);
}
 
